html {
    height: 100%;
}

body {
    min-height: 100%;
}

textarea {
    border-radius: 9px;
    padding-left: 15px;
}

#mainNav {
    
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    z-index: 10;
    border-bottom: ridge;
position: fixed;top: -46px;width: 100%;}

a.fc-day-grid-event {
    font-weight: bold;
    border-color: #CCC !important;
}

.down {
    top: 0 !important;
    background-color: #fffd !important;
}

.headTitle {
    margin: 20px 20px 0 20px;
    color: #3490dc;
    font-weight: bold;
}

.headLittleTitle {
    margin: 20px 20px 7px 30px;
    color: #3490dc;
    font-weight: bold;
}

.description {
    margin: 10px 20px 0 40px;
}

.margin {
    margin-left: 20px;
}

.userNav.show.horizontal {
    animation: cssAnimation 0s 0.5s forwards;
    opacity: 0;
    display: flex !important;
}

.tableUser > div.fc-view-container > div > table >tbody {
    /* text-shadow: #000 0px 0px 3px; */
}
  
@keyframes cssAnimation {
    to { 
        opacity: 1; 
    }
}

.buttonShadow {
    box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.4) !important;
}

.generalContainer {
    margin: 53px 10px 0 10px !important;
    bottom: 25px;
    position: relative;
}

#calendarHardMor {
    bottom: 25px;
    position: relative;
    margin: 0 10px 0 10px;
}

#calendarHardEvn {
    bottom: 25px;
    position: relative;
    margin: 0 10px 25px 10px;
}

.fc-row.fc-week.fc-widget-content,
.fc-scroller.fc-day-grid-container {
    height: 65px !important;
}

#calendarHardEvn .fc-toolbar.fc-header-toolbar {
    display: none;
}

#calendarHardEvn th.fc-day-header.fc-widget-header {
    display: none;
}

.noOne {
    background-color: green !important;
}

.one {
    background-color: lightgreen !important;
}

.two {
    background-color: #FF5D00 !important;
}

.three {
    background-color: #f00 !important;
}

.hidden {
    display: none !important;
}

.hiddenAll {
    display: none !important;
}

.fc-icon {
    line-height: 0.5em !important;
}

#calendarHardMor .fc-button {
    display: none;
}

.divButtonHard {
    margin: 10px 10px 0 10px;
    float: left;
    width: 50%;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    }
    
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.myDiv {
    display: none;
}

.myDrop{
    display: block !important;
    position: absolute;
    background-color: #ececec;
}

.fc-basicDay-button,
.fc-basicWeek-button,
.fc-month-button {
    display: none;
}

.myDropDown {
    display: flex;
}

.expandTable {
    display: flex;
    float: right;
}

.show {
    display: block !important;
} 

.divButton {
    border-top: 1px solid #444;
    margin-bottom: 15px;
}

.main {
    position: absolute;
    right: 36px;
    width: 50px;
    height: 50px;
    /* border-radius: 48px; */
}

.main2 {
    position: absolute;
    right: 38px;
    width: 50px;
    height: 50px;
    border-radius: 48px;
}

.expandableButton {
    width: 100%;
    height: 100%;
    border-radius: 59px;
    border: none;
    cursor: pointer;
}

.spanButton {
    position: absolute;
    width: 30px;
    height: 4px;
    border-radius: 50px;
    background-color: #666;
    pointer-events: none;
    transition: 0.5s;
}

.spanButtonOne {
    left: 6px;
    top: 16px;
}

.spanButtonTwo {
    left: 6px;
    top: 24px;
}

.spanButtonThree {
    left: 6px;
    top: 32px;
}

a {
    color: #000;
    cursor:pointer;
    display:block;
}

.userNav {
    display: none;
}

.horizontal {
    list-style: none;
    position: absolute;
    right: 60px;
    font-size: 35px;
    color: #d3531a;
}

.extend {
    background-color: #03a300;
    width: 345px;
        /* Sfumatura */
        /* Sfumatura Safari */
        /* Sfumatura Opera */
        /* Sfumatura  Firefox */
    height: 190px;
    background-color: #ff8100; /* non CSS3 browsers */
    /* background: linear-gradient(to right, #f7f7f7, #b8b8b8); */ /* Sfumatura */
    /* background: -webkit-linear-gradient(left, #CDDC39, #03a300); */ /* Sfumatura Safari */
    background: -o-linear-gradient(right, #f7f7f7, #b8b8b8); /* Sfumatura Opera */
    background: -moz-linear-gradient(right, #f7f7f7, #b8b8b8); /* Sfumatura Firefox */
}
    
#nav-icon1 {
    bottom: 3%;
    margin: 4px 0 0 0;
    /* width: 165px; */
    /* height: auto; */
    bottom: 16px;
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s cubic-bezier(1, -0.18, 0.45, 0.94);
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    /* transition: .5s ease-in-out; */
}

#nav-icon2 {
    bottom: 3%;
    margin: 4px 0 0 0;
    width: 165px;
    height: auto;
    bottom: 16px;
}
    
#nav-icon1 span {
    display: block;
    position: absolute;
    height: 5px;
    background: #ff8100;
    border-radius: 9px;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
    
#nav-icon1 span:nth-child(1) {
    top: 10px;
}
    
#nav-icon1 span:nth-child(2) {
    top: 18px;
}
    
#nav-icon1 span:nth-child(3) {
    top: 26px;
}
    
#nav-icon1.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
    
#nav-icon1.open span:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
}
    
#nav-icon1.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.connect {
    color: #f8fafc;
    position: relative;
    /* left: 8px; */
    font-weight: bold;
    font-size: 33px;
}

a.connect.vacation {
    position: relative;
    right: 10px;
    bottom: 4px;
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
}

a.connect:hover{
    color: #fff !important;
}

.buttonBottom {
    position: fixed;
    display: flex;
    z-index: 9999999999999999999999999;
}

.buttonBottom2 {
    position: fixed;
    display: flex;
    z-index: 9999999999999999999999999;
}

.openDrop{
    display: block !important;
}

.bottomRightCorner {
    position: relative;
    left: 9px;
    width: 17%;
    background-color: #f8fafc;
    /* border-radius: 44px; */
    cursor: pointer;
    background-color: transparent;
    width: 50px;
    border-style: solid;
    border-color: #ff8100;
    background-color: white !important;
}

.bottomRightCorner2 {
    width: 17%;
    background-color: #f8fafc;
    border-radius: 44px;
    cursor: pointer;
    background-color: transparent;
    width: 165px;
    border-style: solid;
    border-color: #ff8100;
    background-color: white !important;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.bottomRightCorner2.extend2.open2:hover {
    background-color: #38c172 !important;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    color: white;
    border-color: #42A5F5;
    transition: .25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    box-shadow: 4px 3px 6px 0px #888;
}

.openCorner {
    border-style: solid;
    border-color: #ff8100;
    background-color: white !important;
}

.openCorner2 {
    border-style: solid;
    border-color: #ff8100;
    background-color: white !important;
}

.numberNotifications {
    position: absolute;
    top: 8px;
    color: #018dfd;
}

.inputWorker {
    text-align: center;
}

.nameWorker {
    text-align: right;
}

.full-height {
    height: 94vh;
}

.inputWorker > input {
    cursor: pointer;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

td.label {
    text-align:center;
}

.inputWorker {
    width:100px;
}

.save {
    margin-left: 50%;
    margin-top: 30px;
}

.centeredText {
    text-align: center;
    margin-top: 20%;
    font-weight: bold;
    font-size: 25px;
}

.links.home {
    margin-top: 25px;
    display:flex;
}

.links.home > .login {
    font-size: 18px !important;
    width: 50%;
    order: 1;
}

.links.home > .register {
    font-size: 18px !important;
    width: 50%;
    order: 1;
}

.linkWorkers {
    margin-top: 18px;
    font-size: 18px !important;
}

.lastWorker {
    position: relative;
    left: 50px;
}

.openDropdown {
    display: block !important;
}

.addActivity,
.editActivity
{
    text-align: center !important;
}

.addActivityTable,
.editActivityTable {
    margin-top: 15px;
    margin-bottom: 0 !important;
}

.editActivityWeeklyTable {
    margin: 40px 0 100px 0 !important;
}

.divContent {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 30%;
    left: 26%;
    text-align: center;
}

.addActivityDivClose {
    display: none;
}

.addActivityDiv {
    background-color: #ebedef;
    border-top-color: #adadad;
    border-top-style: solid;
    border-top-width: thin;
}

a#elimina,
a#indietro {
    margin-top: 5px;
    color: #fff;
    padding-right: 16px;
}

.i {
    font-size: 18px;
}

.editI {
    position: relative;
    top: 3px;
    left: 1px;
}

.edit {
    width: 42px !important;
    height: 40px !important;
}

.eliminaBig {
    width: 119.36px;
    position: relative;
    right: 1px;
}

.eliminaMed {
    padding-right: 23px !important;
}

.eliminaBig > i {
    position: relative;
    right: 8px;
}

.tdButton {
    padding-left: 10px;
}

button#conferma {
    margin-right: 2px;
}

button#confermaWeekly {
    margin-right: 4px;
    background-color: transparent;
    border-color: transparent;
    color: white;
    font-weight: bold;
    position: relative;
    bottom: 6px;
    cursor: pointer;
}

button#confermaWeekly:focus {
    outline: none;
}

i#confermaWeeklyI {
    font-size: 20px;
    position: relative;
    bottom: 5px;
    left: 1px;
}

.fc-basic-view .fc-body .fc-row {
    min-height: 2em !important;
}

.calendarHardMor {
    margin-top: 15px;
}

.generalContainer {
    /* margin-bottom: 50px !important; */
}

#genWeekly {
    text-align: center;
    font-weight: bold;
    position: relative;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}

button#genWeekly:hover {
    color: white;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.fc-toolbar {
    position: absolute;
    right: 0;
    top: -13px;
}

.fc-center {
    width: 300px;
    text-align: center;
}

.fc-center > h2 {
    width: 300px;
}

.fc-Vai-button {
    margin: 0 5px 0 20px !important;
    border-radius: 4px !important;
}

.fc-Pros-button {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

#goToDate {
    height: 29px;
    position: relative;
    top: 1px;
}

.fc-Prev-button,
.fc-Pros-button,
.fc-Vai-button:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.fc-title {
    display: flex;
}

.activity {
    order: 0;
    width: 95%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ellipsed {
    text-overflow: ellipsis;
    overflow: hidden;
}

.fc-button:focus {
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.hour {    
    order: 1;
    right: 0;
    width: 5%;
    position: absolute;
    text-align: center;
}

button#genWeekly:focus {
    outline: none !important;
}

.alertBox {
    position: fixed !important;
    z-index: 99;
    bottom: 0;
    left: 25px;
    width: 20%;
}

#firstWorkerForm {
    position: relative;
    right: 65px;
}

.formSecondWorker {
    text-align: right;
}

#secondWorkerForm {
    position: relative;
    left: -1px;
    height: 290px;
}

.spanColorWorkerLight {
    text-shadow: #000 0px 0px 3px;
    color: #31ff2e;
}

.spanColorWorkerMedium {
    text-shadow: #000 0px 0px 2px;
    color: #fffc2e;
}

.spanColorWorkerHard {
    text-shadow: #000 0px 0px 2px;
    color: #f00;
}

.formSecondWorker > div {
    margin-bottom: 30px;
}

.secondFormSave {
    margin-top: 38px !important;
}

.divLight {
    margin-top: 45px;
}

.formSecondWorker > div > input {
    text-align: center;
}

.backTo {
    position: relative;
    top: 115px;
    text-align: center;
}

.dropdown-menu-rightTwo {
    width: 350px !important;
}

.borderLeft {
    padding-left: 10px;
}

a.box.borderLeft:hover {
    background-color: #2196F3;
    color: #fff;
    text-decoration: none;
}

.marginNo {
    margin-bottom: 8px;
}

.activityLastEdit {
    text-align: right !important;
    margin-right: 15px;
}

.hiddenDate,
.hiddenHour {
    display: none;
}

.tableComments {
    width: 70%;
    margin: 0 auto;
}

.tableComments > tbody > tr > td {
    padding: 8px;
}

.tableComments > tbody > tr:not(:last-child){
    border-bottom: 1px solid black
}

.tareaComments {
    width: 100%;
}

.addComm {
    float: right;
}

#editComm,
#modificaComm {
    width: 112px;
}

.containerComment {
    margin-top: 50px;
}

.color {
    height: 50px; 
    width: 80px;
}

.labelActivity {
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    border: 1px solid #BBB;
    border-left: transparent;
}

div#thirdWorkerForm {
    order: 3;
    position: relative;
    left: 25px;
}

.center {
    text-align: center;
    margin-top: 50px;
}

.centerBottom {
    text-align: center;
    margin: 0 0 200px 0;
    font-weight: bold;
    font-size: 20px;
}

.centerTop {
    text-align: center;
    margin: 50px 0 0 0;
    font-weight: bold;
    font-size: 20px;
}

.box {
    border-bottom: 1px solid #BBB;
}

.bord {
    padding: 0 0 0 0 !important;
    border-top: 1px solid #BBB;
}

.seven {
    padding-right: 4px;
}

.hoursRequired {
    width: 60px;
    text-align: center;
    margin-bottom: 15px;
}

.containerFilter {
    margin-top: 50px;
    text-align: center;
}

.containerFilterResults {
    margin-top: 50px;
}

.spanDateFilter {
    margin-left: 75px;
}

.inputDateFilter {
    margin-right: 75px;
}

.bold {
    font-weight: bold;
    font-size: 20px;
}

.trashActivity {
    color: #F00;
    font-size: 25px;
    margin-left: 10px;
}

.pWorker {
    text-align: center;
}

th.fc-day-header.fc-today {
    background-color: #fcf8e3;
}